body {
    background-color: #e4e4e4;
}

.title{
    color:#c99191; 
}

h1{
    text-transform: uppercase;
}

h2{
    text-transform: uppercase;
}

hr{
    border-color:#c99191; 
    ;
    border-style: dashed;

}

section{
    padding:2%;
}

a{
    color:#c99191
}
